@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lilita+One&display=swap');
* {
    box-sizing: border-box;
}
html[lang="en"] {
    margin-top: 0 !important;
}
body {
    margin: 0;
    font-family: arial;
    background-color: #f6f6f6 !important;
}
.mims-dashbaord-wrapper {
    display: flex;
    flex-flow: wrap;
}
.mims-dashbaord-wrapper .mims-dashboard-sidebar {
    max-width: 280px;
    width: 100%;
    min-height: 100vh;
    background: #40a6df;
    box-shadow: 0 0 10px rgb(0 0 0 / 7%);
}
.mims-dashbaord-wrapper .mims-dashboard-container {
    width: calc(100% - 280px);
}
.mims-dashbaord-wrapper .mims-dashboard-sidebar .brand-logo {
    text-align: center;
    border-bottom: 1px solid white;
    padding: 22px 15px;
}
.brand-logo a {
    font-family: 'Courgette', cursive;
    text-decoration: none;
    color: white;
}
.brand-logo a:hover {
    color: white;
}
.mims-dashbaord-wrapper .mims-dashboard-container .dahsboard-top-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 78px;
    padding: 0 20px;
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
    background: white;
}
.dahsboard-top-header h2 {
    font-family: 'Lilita One', cursive;
    color: #40a6df;
}
.mims-dashbaord-wrapper .mims-dashboard-sidebar .brand-logo img {
    max-width: 100%;
}
.mims-dashbaord-wrapper .mims-dashboard-sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.mims-dashbaord-wrapper .mims-dashboard-sidebar ul li a {
    display: block;
    border-bottom: 1px solid #3291c6;
    padding: 20px 25px;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.mims-dashbaord-wrapper .mims-dashboard-sidebar ul li a:hover,
.mims-dashbaord-wrapper .mims-dashboard-sidebar ul li.active a {
    background: #fff;
    color: #40a6df;
    border-color: #3291c6;
}
span.fa {
    margin: 0px 0.5rem 0px 0px;
}
table {
    background: white;
}
.btn-success {
    background-color: #40a6df !important;
    border-color: #40a6df !important;
}
.mims-main-screen h1 {
    font-family: 'Lilita One', cursive;
}
.mims-main-screen {
    background-color: #f6f6f6;
    padding: 20px 50px;
    height: calc(100% - 74px);
}
.mims-main-screen:after {
    content: "";
    display: block;
    clear: both;
}
.mims-dashbaord-wrapper .mims-dashboard-sidebar .dashboard-menu-button {
    display: none;
}
.form-group {
    margin-bottom: 1rem;
}
.form-control {
    border-radius: 0px !important;
    height: 32px !important;
}
label {
    margin-bottom: .5rem;
}
select.form-select.form-select-sm {
    border-radius: 0px;
}
.page-item .page-link {
    border-radius: 0px !important;
}
.page-item.active .page-link {
    background-color: #40a6df !important;
    border-color: #40a6df !important;
}
.dataTables_length {
    margin-top: 16px;
}
.dataTables_filter {
    margin-top: 16px;
}
.dataTables_info {
    margin-top: 8px;
}
.dataTables_paginate {
    margin-top: 16px !important;
}
.responsive-table .row .col-sm-12 {
    overflow: auto;
}
.form-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #f6f6f6;
    width: 100%;
    height: 100vh;
    padding: 20px;
}
.login-from {
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    border: 1px solid #c8ced3;
    border-bottom: 6px solid #40a6df;
}
h2.signup-text {
    text-align: center;
    font-size: 1.75rem;
    color: #40a6df;
    font-family: 'Lilita One', cursive;
}
hr.register-hr {
    width: 15%;
    background: #40a6df;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    bottom: -18px;
    height: 3px !important;
    border-top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 10 !important;
}
footer {
    display: flex;
    width: 100%;
    justify-content: center;
    border-top: 6px solid #40a6df;
    padding: 10px  0px;
    color: #555555;
    background-color: white;
}
footer h6 {
    font-size: 0.7rem;
}
footer a {
    text-decoration: none;
    color: #40a6df;
}
@media all and (max-width:384px) {
    h2.signup-text {
        font-size: 1rem;
    }
    .dahsboard-top-header h2 {
        font-size: 13px !important;
    }
}
@media all and (max-width:411px) {
    .dahsboard-top-header h2 {
        font-size: 15px !important;
    }
}
@media all and (max-width:560px) {
    .dahsboard-top-header {
        width: 100% !important;
    }
    .dahsboard-top-header h2 {
        font-size: 20px;
    }
}
@media all and (max-width:767px) {
    .btn-success {
        margin-bottom: 20px !important;
    }
}
@media all and (max-width:991px) {
    .mims-dashbaord-wrapper .mims-dashboard-sidebar {
        position: absolute;
        left: -280px;
        z-index: 10;
        background: #ffffff;
        transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -ms-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
    }
    .mims-dashbaord-wrapper .mims-dashboard-container {
        width: 100%;
    }
    .mims-dashbaord-wrapper .mims-dashboard-sidebar .dashboard-menu-button {
        position: absolute;
        right: -40px;
        z-index: 10;
        top: 16px;
        width: 40px;
        height: 40px;
        background: #40a6df;
        border: none;
        border-radius: 0 5px 5px 0;
        font-size: 20px;
        color: #ffffff;
        display: block;
        cursor: pointer;
    }
    body.open-dashboard .mims-dashbaord-wrapper .mims-dashboard-sidebar {
        left: 0;
        background: #40a6df;
    }
    .open-dashboard .dashboard-overlay {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: rgb(255 255 255 / 82%);
        z-index: 1;
        transition: all 0.5s ease 0s;
    }
    .open-dashboard .dashboard-menu-button {
        pointer-events: none;
    }
    body.open-dashboard {
        overflow: hidden;
    }
}